body  {
  margin: 0;
}

.site-title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #323232;
  display: inline-block;
  margin-left: 30px;
}

h2  {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.875em;
  color: #323232;
  text-align: center;
  margin: 0 0 45px 0;
}

h3  {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #00897f;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
    }

  h4  {
    font-family: 'PT Serif', serif;
    font-size: 1em;
    line-height: 2em;
    color: #323232;
    margin: 0;
    }

p  {
  font-family:'PT Serif', serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
  margin: 25px 0 0 0;
}

.orange  {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 1em;
  color: #f26533;
}

.splash {
  width: 100%;
  margin: 0;
}

nav  {
  margin: 0;
  height: 80px;
}


ul  {
  float: right;
}

.links {
  font-family: 'PT Sans', sans-serif;
  font-size: .9em;
  color: #323232;
  margin: 0;
  text-decoration: none;
  display: inline-block;
}

.none {
  list-style: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 30px;
}

main {
  margin: 80px 0 80px 0;
  max-width: 600px;
  min-width: 400px;
  margin-left:auto;
  margin-right: auto;
}

aside {
margin: 80px 0 80px 0;
text-align: center;
}

aside div  {
background-color: #eeeeee;
width: 30%;
margin-left: 30px;
margin-right: 30px;
padding: 30px;
display: inline-block;
text-align: left;
  }

  figure  {
    margin: 0;
    text-align: center;
  }

  figure img  {
    width: 250px;
    margin: 0 27.25px 0 27.25px;
    border-radius: 125px;
  }

  .contact {
    background-color: #eeeeee;
    margin-top: 80px;
    padding: 80px 0 80px 0;
    width: 100%;
    text-align: center;
  }

  .info {
  background-color: #ffffff;
  width: 240px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 30px;
  display: inline-block;
  text-align: left;
    }

  .upper {
    text-transform: uppercase;
  }

  .map {
    margin: 0;
    width: 100%;
    display: block;
  }

  footer {
    background-color: #00897f;
    height: 125px;
    margin: 0;
    width: 100%;
  }

  .foot  {
      font-family: 'PT Sans Narrow', sans-serif;
      font-weight: bold;
      font-size: 1.25em;
      color: #ffffff;
      text-align: center;
      line-height: 125px;
      vertical-align: middle;
      margin: 0;
      }
